body {
  background-color: #101316 !important;
  color: white !important;
}

.form-check-input:checked {
  background-color: #970e0f !important;
  border-color: #970e0f !important;
}

.form-check-input:before {
  border-color: #970e0f !important;
}

.form-check-input:focus {
  border-color: #970e0f !important;
}
