body, section {	
	width: 540px;
	height: 400px;
    color: white;
    background-color: #101316;
    overflow: auto;
    margin:auto;
}

.panel {
    background-color: #1b2126 !important;
}

a {
    color: white !important;
    text-decoration: none;
}

list {
    overflowY: "auto",
    margin: 0,
    padding: 0,
    listStyle: "none",
    height: "100%",
    '&::-webkit-scrollbar': {
      width: '0.4em'
    },
    '&::-webkit-scrollbar-track': {
      boxShadow: 'inset 0 0 6px rgba(0,0,0,0.00)',
      webkitBoxShadow: 'inset 0 0 6px rgba(0,0,0,0.00)'
    },
    '&::-webkit-scrollbar-thumb': {
      backgroundColor: 'rgba(0,0,0,.1)',
      outline: '1px solid slategrey'
    }
  }