body, section {	
	width: 540px;
	height: 400px;
    color: white;
    background-color: #101316;
    overflow: auto;
    margin:auto;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.panel {
    background-color: #1b2126 !important;
}

a {
    color: white !important;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}